---
layout: resume
title: Resume
permalink: /resume/
weight: 4
---
<div class="resume-container">
    {% include resume/header.html %}
    <div class="container-block">
      <div class="sidebar">
        {% include resume/contact.html %}
        {% include resume/languages.html %}
        {% include resume/education.html %}
        {% include resume/skills.html %}
        {% include resume/fork.html %}
      </div>

      <div class="main">
        {% include resume/career-profile.html %}
        {% include resume/experience.html %}
        {% include resume/publications.html %}
        {% include resume/projects.html %}
        {% include resume/volunteering.html %}
      </div>
    </div>
  </div>
  